:root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-grey: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

@font-face {
  font-family: "Poppins Regular";
  src: url(assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Poppins Bold";
  src: url(assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Poppins Extra Bold Italic";
  src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins Italic";
  src: url(assets/fonts/Poppins-Italic.ttf);
}

html {
  font-size: 70%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.5;

  background-color: var(--off-white);
  color: var(--off-black);
  padding: 1rem;
}

img {
  max-width: 100%;
  display: block;
}

main {
  background-color: var(--white);
  max-width: 35em;
  border-radius: 15px 15px 100px 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: auto;
  padding: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-family: "Poppins Bold", sans-serif;
  color: var(--smokey-grey);
  letter-spacing: 2px;
  font-size: 0.6rem;
}

input {
  font-family: "Poppins Bold";
  color: var(--off-black);
  width: 85%;
  padding: 0.4rem;
  caret-color: var(--purple);
  border-radius: 5px;
  border: 2px solid var(--off-white);
  font-size: 1.5rem;
  outline: none;
}

input:focus {
  border-color: var(--purple);
  appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

p {
  color: var(--light-red);
  font-size: 0.7rem;
}

button {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple);
  transition: background 0.3s ease;
  margin-bottom: calc(4rem / -2);
  cursor: pointer;
}

button:hover {
  background-color: var(--off-black);
}

hr {
  border: 0;
  border-bottom: 2px solid var(--off-white);
}

h2 {
  font-family: "Poppins Extra Bold Italic", sans-serif;
  font-size: 3em;
  line-height: 1.1;
  font-weight: 800;
  color: var(--off-black);
  font-style: italic;
  transform: scale(1);
  transform-origin: left;
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

span {
  display: inline-block;
  color: var(--purple);
  margin-right: 10px;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 1.5rem 1fr 1.5rem;
  grid-auto-flow: column;
}

.content {
  padding-top: 30px;
}

@media screen and (min-width: 48em) {
  html {
    font-size: 120%;
  }
  main {
    padding: 2rem;
    min-width: 35rem;
    border-radius: 15px 15px 150px 15px;
  }
  form {
    align-items: flex-start;
  }
  button {
    align-self: flex-end;
  }

  h2 {
    font-size: 4em;
  }

  .inputs {
    grid-template-columns: repeat(3, 140px);
  }
}
